<div class="row" ng-controller="mCtrl" uploader="uploader">
	<div class="col-md-12 container">
		<div class="row well">
			<div class="col-md-3">.wav only:</div>
			<div class="col-md-5">
				<input type="file" nv-file-select uploader="uploader">
			</div>
			<div class="col-md-2">
				<button ng-click="uploader.queue[0].upload()" ng-disabled="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">upload</button>
			</div>
			<div class="col-md-2">
				<button ng-click="all()">all</button>
			</div>
		</div>
	</div>
	<div class="col-md-12 container alert" ng-class="{'alert-success':truth==guess,'alert-danger':truth!=guess}" ng-show="guess">
		<div class="col-md-3">
			<h4>Guess type is:</h4>
		</div>
		<div class="col-md-9">
			<h5><strong>{{guess}}</strong></h5>
		</div>
		<br/>
		<div class="col-md-3">
			<h4>Actual type is:</h4>
		</div>
		<div class="col-md-9">
			<h5><strong>{{truth}}</strong></h5>
		</div>
	</div>
	<div class="container col-md-12" ng-repeat="(key,value) in possibility" style="height: 25px">
			<div class = "label col-md-3" ng-class="{'label-success': truth==guess,'label-primary': truth!=guess,'label-info': truth==key&&truth!=guess, 'label-danger': key!=guess&&truth!=key}">
				<span>{{key}}:</span>
			</div>
			<div class = "col-md-9" ng-class="{}">
				<div class="progress progress-striped">
                	<div class="progress-bar" ng-class="{'progress-bar-success': truth==guess,'progress-bar-info': truth==key&&truth!=guess, 'progress-bar-danger': key!=guess&&truth!=key}" style="width: {{value/sum*100}}%">
                		<p><strong>{{value| number:2}}</strong>({{value/sum*100|number:0}}%)</p>
                	</div>
              	</div>
				
			</div>	
	</div>
	<div class="col-md-12 container" ng-show="guess" style="padding: 20px">
			<span class = "col-md-7"></span>
			<span class = "col-md-1 label label-success" style="margin:2px 2px 2px 75px">True positive</span>
			<span class = "col-md-1 label label-danger" style="margin:2px">True negative</span>
			<span class = "col-md-1 label label-info" style="margin:2px">False positive</span>
			<span class = "col-md-1 label label-primary" style="margin:2px">False negative</span>
	</div>
</div>